*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section{
  width: 100%;
  background-color: #888888;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
}
.logo{
 display: flex;
  /*justify-content: space-between;*/
  align-items: center;
}
.logo img{
  width: 10%;
}
.logo h1{
  color: white;
  font-size: 30px;
  padding-left: 20px;
}
.logo h1 span{
  color: orange;
}
section .navi{
  color: #fff;
  width: 50%;
}
.navi ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.navi ul li{
   text-transform: capitalize;
  background-color: white;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section{
  width: 100%;
  background-color: #888888;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
}
.logo{
 display: flex;
  /*justify-content: space-between;*/
  align-items: center;
}
.logo img{
  width: 10%;
}
.logo h1{
  color: white;
  font-size: 30px;
  padding-left: 20px;
}
.logo h1 span{
  color: orange;
}
section .navi{
  color: #fff;
  width: 50%;
}
.navi ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.navi ul li{
   text-transform: capitalize;
  background-color: white;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section{
  width: 100%;
  background-color: #888888;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
}
.logo{
 display: flex;
  /*justify-content: space-between;*/
  align-items: center;
}
.logo img{
  width: 5%;
}
.logo h1{
  color: white;
  font-size: 30px;
  padding-left: 20px;
}
.logo h1 span{
  color: orange;
}
section .navi{
  /*color: #fff;*/
  width: 50%;
}
.navi ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.navi ul li{
   text-transform: capitalize;
  background-color: white;
  padding: 10px 5%;
  border-radius: 30px;
  color: black;
  font-size: 30px;
}
.navi ul li:hover{
  background-color: orange;
  color: white;
}
.body{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body .image{
  background-color: #888888;
  border-radius: 10px;
}
.body .image img{
  overflow: hidden;
}
.text{
  text-indent: 20px;
}
.text h2{
  color: orange;
  font-size: 45px;
  text-transform: uppercase;
}
.text p{
  color: black;
  font-size: 18px;
  text-indent:0;
  padding: 20px;
}
.body .text .btn button{
  width: 20%;
  /*color: white;*/
  height: 40px;
  border-radius: 20px;
  border:1px solid black;
  font-size: 24px;
}
.body .text .btn button:hover{
  background-color: orange;
  color: white;
  border: none;
}
.form-cnt{
  flex-direction: column;
}
.form-cnt form{
  display: flex;
  flex-direction: column;
  }
input{
  width: 100%;
}
